$bg-color: yellow;
$border-color: red;

.app {
  font-family: helvetica, arial, sans-serif;
  padding: var(--sometest);
  border: 5px solid $border-color;
  display: flex;
  @apply bg-green-700;

  p {
    background-color: $bg-color;
  }
}

.p-4 {
  border: purple dashed 1px;
}
